@for (product of products(); track product.id) {
  <div class="overflow-hidden rounded-xl bg-white shadow mt-5">
    <img src="images/product.jpg" alt="Product" class="h-56 w-full object-cover" />

    <div class="p-5">
      <h3 class="text-lg font-semibold text-gray-900">{{ product.name }}</h3>
      <p class="mt-2 text-sm text-gray-600">{{ product.summary }}</p>
      <h2 class="text-lg font-semibold text-gray-900">
        {{ product.productBrand?.name }} -- {{ product.productType?.name }}
      </h2>
      <div class="mt-4 flex items-center justify-between">
        <span class="text-xl font-bold text-gray-900"> {{ product.price }} </span>
        <button
          class="cursor-pointer rounded-lg bg-blue-600 px-4 py-2 text-sm font-medium text-white hover:bg-blue-700"
          [routerLink]="['/product-details', product.id]"
        >
          Details
        </button>
      </div>
    </div>
  </div>
}
